header{
    background-color: #e4e4e7;
}

header ._wrapper{
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding: .5rem;
}

header .slogan-wrapper{
    display: flex;
    gap: .75rem;
    align-items: center;
}

header nav ul{
    display: flex;
    align-items: center;
    gap: 1.25rem;
    list-style-type: none;
}

@media(max-width: 768px){
    header ._wrapper{
        flex-direction: column;
    }

    header nav ul{
        flex-direction: column;
    }

}

header h1{
    width: calc(11rem);
}

header h2{
    text-align: center;
}

@media(max-width: 768px){
    header h2{
        font-size: 1rem;
    }

    header h1{
        width: calc(9rem);
    }
}

header .fa-icon {
    font-size: 1.75rem;
    display: none;
}

@media(max-width: 768px){

    header .slogan-wrapper{
        order: 1;
    }

    header .fa-icon{
        display: block;
        order: 2;
    }

    header nav{
        order: 3;
        flex-basis: 100%;
        width: 100%;
        display: none;
    }

    header nav ul{
        width: 100%;
    }

    header nav ul li a{
        text-align: center;
    }

    nav.is-visible{
        display: block;
    }
}