header{
    background-color: var(--section-gray);
    background-color: #27272a;
    background-image: linear-gradient(to top, #18181b, #27272a);

    color: #fff;
    transition: background 100ms ease-in;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

header ._wrapper{
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding: 1rem;
}

header ._wrapper > *{
    flex: 1;
}

header .slogan-wrapper{
    display: flex;
    gap: .75rem;
    align-items: center;
}

header nav{
    justify-self: flex-end;
}

header nav ul{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1.25rem;
    list-style-type: none;
    font-size: 1.125rem;
}

header h1{
    width: 7rem;
    transition: width 250ms ease-in;
}

header h2{
    font-weight: normal;
    text-align: center;
    font-size: 1.5rem;
}

header .fa-icon {
    font-size: 1.75rem;
    display: none;
}

header nav ul li:not(:last-of-type){
    border-right: 2px solid var(--txt-dark);
    border-right: 2px solid #fff;
    padding-right: 1rem;
}

header nav ul li a:hover{
    text-decoration: underline;
}

header .slogan-wrapper .hamburger-button{
    display: none;
}

@media(max-width: 768px){
    header ._wrapper{
        align-items: normal;
        flex-direction: column;
        gap: .25rem;
    }

    header .slogan-wrapper{
        order: 1;
    }

    header nav{
        order: 3;
        flex-basis: 100%;
        width: 100%;
    }

    header nav ul{
        width: 100%;
        justify-content: center;
    }

    header nav ul li a{
        text-align: center;
    }

    nav{
        display: grid;
    }

    nav.nav-hidden{
        grid-template-rows: 0fr;
        transition: grid-template-rows 250ms ease-in;
        padding: 0;
    }

    nav.nav-visible{
        grid-template-rows: 1fr;
        transition: grid-template-rows 250ms ease-in;
    }


    nav ul{
        flex-direction: column;
        overflow: hidden;
    }

    nav ul li{
        width: 100%;
        border: 0!important;
        padding: 0!important;
    }

    nav ul li a{
        display: block;
        width: 100%;
    }

    nav ul{
        overflow: hidden;
    }

    header .slogan-wrapper .hamburger-button{
        display: block;
        margin-left: auto;
        font-size: 2.25rem;
        background: none;
        border: 0;
        color: #fff;
        cursor: pointer;
    }
}

.inner-slogan-wrapper{
    display: flex;
    align-items: center;
    gap: 1.125rem;
}


header.float{
    background: none;
    background: rgba(0, 0, 0, .6);
    /*transition: background 250ms ease-out;*/
    backdrop-filter: blur(10px);
}

header.float h1{
    width: 4rem;
    transition: width 250ms ease-in;
}