.product-list{
    display: flex;
    gap: 4rem;
    flex-wrap: wrap;
}

.product-box{
    --product-box-radius: .25rem;

    flex: 1 1 clamp(250px, 30%, 40%);

    display: flex;
    flex-direction: column;
    gap: 1rem;

    border: 1px solid var(--gray);
    border-radius: var(--product-box-radius, .25rem);
}

.product-box .product-box-header{
    position: relative;
}

.product-box .product-box-header .image-selector-button{
    position: absolute;
    top: 50%;

    font-size: 1.5rem;
    padding: 1rem;
    font-family: inherit;
    background: rgba(255, 255, 255, .8);
    border-radius: 50%;
    cursor: pointer;

    width: 40px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

}

.product-box .product-box-header .image-selector-button.left{
    left: 5px;
}
.product-box .product-box-header .image-selector-button.right{
    right: 5px;
}

.product-box .product-box-header .product-image{
    border-top-left-radius: var(--product-box-radius, .25rem);
    border-top-right-radius: var(--product-box-radius, .25rem);

    animation: fade-in 1.2s 1 forwards;
    opacity: 0;
}

@keyframes fade-in {
    from{
        opacity: 0
    }
    to{
        opacity: 1;
    }
}

.product-box .product-box-body{
    padding: 1rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.product-box .product-title{
    font-size: 1.5rem;
    text-align: center;
}

.product-box .product-box-body-subheader{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    font-style: italic;
    font-weight: bold;
}

.product-box .product-subtitle{
    font-style: italic;
}

.product-box .product-cta{
    font-size: 1.25rem;
    text-align: center;

    a{
        color: #000;
        text-decoration: underline;
        
        &:hover{
            text-decoration: none;
        }
    }
}

.product-box .product-ingredients{
    display: flex;
    gap: 1.5rem;
}

.product-box .product-ingredients> p{
    font-weight: bold;
}

.product-box .product-ingredients .ingredient-list{
    display: flex;
    gap: .5rem;
}